@import "bootstrap/scss/bootstrap";

body {
    background-color: rgb(235, 235, 235);
}

.editing-container {
    height: 40rem;
}

.editor {
    background-color: white;
}

.files-list {
    overflow: scroll;
    max-height: 100%;
}

#main-editor {
    min-height: 0;
    font-size: 0.9em;
}

.cm-editor {
    height: 100%;
}

.robotcard {
    .robotcanvas {
        width: 11rem;
        height: 11rem;
    }
}
